<div id="profile_info" ng-init="vm.init()">
    <div class="list_loader live_loader" ng-show="vm.loading"></div>

    <div id="right_user_cover" ng-hide="vm.loading">
        <div class="block_cover">
            <div class="user_img">
                <div class="square_img">
                    <img ng-src="{{vm.user.image_url}}" />
                </div>
            </div>
            <h4 id="user_name">{{vm.user.firstname}} {{vm.user.surname}}</h4>
            <p class="about">{{vm.user.text}}</p>

            <div class='full_block _new' id='metrics'>
                <div class='metric score_metric' style='background-image: url(assets/img//profile/score.png);'>
                    <div class='num_metric'>{{vm.user.score}}<span>%</span></div>
                    <div class='label_metric'>
                        <div class='metric_img'>Score</div>
                    </div>
                </div>
                <div class='metric projects_metric' style='background-image: url(assets/img/profile/projects.png);'>
                    <div class='num_metric'>{{vm.user.projects.length}}</div>
                    <div class='label_metric'>
                        <div class='metric_img'>Projects</div>
                    </div>
                </div>
                <div class='metric categories_metric' style='background-image: url(assets/img/profile/categories.png);'>
                    <div class='num_metric'>{{vm.userTags.length}}</div>
                    <div class='label_metric'>
                        <div class='metric_img'>Categories</div>
                    </div>
                </div>
                <div class='metric skills_metric' style='background-image: url(assets/img/profile/skills.png);'>
                    <div class='num_metric'>{{vm.user.skills.length}}</div>
                    <div class='label_metric'>
                        <div class='metric_img'>Skills</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block_cover profile_data" style="position: relative; height: 456px;">
            <!-- Tabs -->
            <div class="tabs col_3">
                <div class="tab active" attr-ref="skills">
                    <div class="tab_skills">Skills</div>
                </div>
                <div class="tab" attr-ref="projects">
                    <div class="tab_projects">Projects</div>
                </div>
                <div class="tab" attr-ref="cv">
                    <div class="tab_cv">CV</div>
                </div>
            </div>
            <!-- END Tabs -->

            <!-- TODO: make this content as another views -->

            <!--<div class="full_block _new active" id="skills">
                <div id="add_skills_block"><div id="add_skills_cover" skill_input_length>  edit_skills  </div>  add_new_skills  </div>  sorted_skills
            </div>-->
            <!--_PF_.projects(vm.user.projects, add_project)  _PF_.cv(vm.user.education, vm.user.jobs, vm.user.certificates, vm.user.goals)-->
        </div>
        <!--_PF_.files(vm.user.files)-->
        <div id="bottom_user_cover">
            <div class="list_loader" ng-show="vm.loadingSimilar"></div>

            <h5>Similar profiles</h5>
            <div class="recommend_row active">

                <div class="recommend_item" ng-repeat="similar in vm.similarProfiles.slice(0,5)">
                    <div class="proj_user_block">
                        <a href="/profile/{{similar._id}}" class="user_img">
                            <div class="square_img">
                                <img ng-src="{{similar.image_url}}" />
                            </div>
                        </a>
                        <div style="width: 100%; text-align: center; line-height: 20px; height: 40px; overflow: hidden;">
                            <a href="/profile/{{similar._id}}" class="proj_name_link">{{similar.firstname}} {{similar.surname}}</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="recommend_row">
                <div class="recommend_item" ng-repeat="similar in vm.similarProfiles.slice(5,10)">
                    <div class="proj_user_block">
                        <a href="/profile/{{similar._id}}" class="user_img">
                            <div class="square_img">
                                <img ng-src="{{similar.image_url}}" />
                            </div>
                        </a>
                        <div style="width: 100%; text-align: center; line-height: 20px; height: 40px; overflow: hidden;">
                            <a href="/profile/{{similar._id}}" class="proj_name_link">{{similar.firstname}} {{similar.surname}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="left_user_cover" ng-hide="vm.loading">
        <div class="full_block">
            <!-- TODO: hide message btn if my profile -->
            <div class="full_block" id="messages">
                <button id="create_message" value="{{vm.user._id}}">Compose message</button>
            </div>
            <div id='all_tags'>
                <h6>Tags</h6>
                <div class='tag_user' ng-repeat="(key, value) in vm.user.tags">
                    <small>{{key}}</small>{{value}}
                </div>
            </div>
        </div>
        <div class="full_block" id="contacts">
            <h6>Contacts</h6>
            <div class='contact_field'>
                <small>Phone</small>
                <a href='tel:{{user.contact_data.phone}}'>{{vm.user.contact_data.phone}}</a>
            </div>
            <div class='contact_field'>
                <small>Email</small>
                <a href='mailto:{{vm.user.contact_data.email}}'>{{vm.user.contact_data.email}}</a>
            </div>
            <div class='contact_field'>
                <small>Location</small>
                <span id='goto_address'>{{vm.user.contact_data.address}}</span>
            </div>
            <div class='contact_field hidden'>
                <small>Mobile</small>
                <a href='tel:{{vm.user.contact_data.mobile}}'>{{vm.user.contact_data.mobile}}</a>
            </div>
            <div class='contact_field hidden'>
                <small>Skype</small>
                <a href='skype:{{vm.user.contact_data.skype}}'>{{vm.user.contact_data.skype}}</a>
            </div>
            <div class='contact_field show_more'>
                <span>ShowMore </span>
            </div>
        </div>
        <div id='all_langs'>
            <h6>Languages</h6>
            <div class='lang_user' ng-repeat="val in vm.user.languages">
                <small>"Native"</small>{{val['name_en']}}
            </div>
            <div class='lang_user'>
                <small>"Advanced"</small> German
            </div>
        </div>

    </div>

</div>
<input type="file" name="skill_file" id="skills_uploading" style="display: none;" />
<input type="file" name="cv_file" id="cv_uploading" style="display: none;" />
