<div class="navItem" click-elsewhere="vm.closeEvnt()">
    <div class="navIcon navMessage "
         ng-class="{active: !vm.isClosed}"
         ng-click="vm.togglePopup($event)">
    </div>

    <div id="dropMessage" class="dropDown" ng-hide="vm.isClosed">
        <ul>
            <li translate='MessagesTitleUI'>Messages</li>

            <li id="messageUpdate" class="shortList" style="padding: 0px;">
                <div class="list_loader" ng-show="vm.loading"></div>

                <ul ng-show="vm.messages.length > 0 && !vm.loading">
                    <!-- TODO: place content here -->
                </ul>

                <div class="no_data" ng-show="vm.messages.length == 0 && !vm.loading">No records...</div>
            </li>

            <li class="footer">
                <a ui-sref="communications.messages" href="/messages" class="link" translate="ViewAllUI" ng-click="vm.togglePopup()">View All</a>
            </li>
        </ul>
    </div>
</div>
