<div id="content_block" ng-init="vm.loadNews()">

    <div class="nf_block" ng-repeat="news in vm.news">
        <div class="user_img">
            <a href="/profile/{{news.profile_id}}" ui-sref="profile.id({ profileId: news.profile_id })">
                <img ng-src="{{news.image_url}}" />
            </a>
        </div>
        <div class="user_name_action">
            <div class="user_name">
                <a ui-sref="profile.id({ profileId: news.profile_id })"
                   href="/profile/{{news.profile_id}}">{{news.firstname}} {{news.surname}}</a>
            </div>
            <div class="user_action">{{news.action}}</div>
        </div>
        <div class="date">{{news.date}}</div>
        <div class="nf_text">
            <div class="bold_name">{{news.title}}</div>
            <p class="short_text">{{news.text}}</p>
            <div class="nf_footer">
                <!-- TODO: change this logic -->
                <a ui-sref="profile.id({ profileId: news.profile_id })"
                   href="{{news.link_url}}">{{news.link_text}}</a>
            </div>
        </div>
    </div>

</div>
